<template>
    <v-app id="inspire">
    <v-navigation-drawer
        fixed
        v-model="drawer"
        app
    >
        <v-list dense>
            <v-list-tile v-for="item in instances" :key="item.id" @click="onMenuClick(item.id)" :class="{active: currentInst===item.id}" >
                <v-list-tile-action>
                    <v-icon>work</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>{{item.title}}</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>
    </v-navigation-drawer>
    <v-toolbar color="indigo" dark fixed app>
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <v-toolbar-title>Tool Switching Problem interactive visualization</v-toolbar-title>
    </v-toolbar>
    <v-content>
        <v-container fluid fill-height>
        <v-layout align-center justify-center column fill-height>
            <v-flex text-xs-center>
                <MatrixViz :instanceText="matrixVizText" @update="onMatrixUpdate" @click="onClick" />
                Magazine capacity:<v-text-field label="magazine capacity" v-model="size" class="mt-0" single-line type="number"></v-text-field>
                <v-btn @click="useKtns" color="indigo" :dark="true">Use KTNS</v-btn>
                <h3>Objective: {{objective}}</h3>
                <v-snackbar v-model="snackbar" color="red" :timeout="1000" :top="true">too much tools in this line</v-snackbar>
                <v-switch
                    :label="`Objective: ${objLabel}`"
                    v-model="switchObj">
                </v-switch>
            </v-flex>
            <v-flex>
                <div id="inst">
                    <div class="instContainer">
                        <v-textarea id="instanceArea" name="instanceText" label="Parameters" v-model="propsText"></v-textarea>
                    </div>
                </div>
            </v-flex>
            <v-flex>
                Instances come from <a href="http://www.unet.edu.ve/~jedgar/ToSP/ToSP.htm">this benchmark</a>
            </v-flex>
        </v-layout>
        </v-container>
    </v-content>
    </v-app>
</template>
<script>
    // load vue and vuetify
    import Vue from "vue"
    import Vuetify from 'vuetify'
    import MatrixViz from 'vue-matrix-viz'
    import stringify from 'json-stringify-pretty-compact'
    Vue.use(Vuetify)

    // load styles
    import '../node_modules/material-design-icons-iconfont/dist/material-design-icons.scss'
    import '../node_modules/vuetify/dist/vuetify.min.css'

    import { instances } from "./instances"

    let tilesize = 50
    let keepColor = "#aae"

    export default {
        components: { MatrixViz },
        data() {
            return {
                matrixViz: {
                    props: {
                        x: ["1","2","3"],
                        y: ["a","b"],
                        r: {"a":["1","3"], "b":["1","2"]},
                    },
                    x_width: {"1": tilesize, "2": tilesize, "3": tilesize},
                    x_title_height: tilesize,
                    y_height: {"a": tilesize, "b": tilesize},
                    y_title_width: tilesize,
                    separator: 1,
                    color_empty: "#ccc",
                    color_full: "#444",
                    tile_colors: {
                        "b-3": "#aae"
                    },
                    tile_texts: {

                    },
                    x_title_color: "#aea",
                    x_title_textcolor: "#555",
                    y_title_color: "#eaa",
                    y_title_textcolor: "#555"
                },
                drawer: null,
                snackbar: null,
                size: 3,
                currentInst: 0,
                switchObj: true
            }
        },
        mounted() {
            this.setInst(this.currentInst)
        },
        computed: {
            objLabel: function() {
                if ( this.switchObj ) {
                    return "Tool loads (initial tools + tool switchs)"
                } else {
                    return "Tool switches (without initial tools)"
                }
            },
            matrixVizText: {
                get: function() {
                    return stringify(this.matrixViz)
                },
                set: function(newValue) {
                    try {
                        this.matrixViz = JSON.parse(newValue)
                    } catch ( e ) {}
                }
            },
            propsText: {
                get: function() {
                    return stringify(this.matrixViz.props)
                },
                set: function(newValue) {
                    try {
                        this.matrixViz.props = JSON.parse(newValue)
                    } catch( e ) {}
                }
            },
            instances: function() {
                return this.getInstances()
            },
            tilesize: {
                get: function() {
                    return tilesize
                }
            },
            objective: function() {
               let res = 0
               let lines = this.filledLines
               this.matrixViz['tile_texts'] = {}

                // check if we count first line
                if (this.switchObj) {
                    let y = this.matrixViz.props.y[0]
                    for ( let x of lines[0] ) {
                        this.matrixViz['tile_texts'][`${y}-${x}`] = {'text': 'X', 'color': '#fafafa'}
                        res += 1         
                    }
                }

               for ( let i = 1 ; i < lines.length ; i++ ) {
                   // add 1 at each (black/blue) -> white vertical transition
                   for ( let col of this.matrixViz.props.x ) {
                       if ( (lines[i].includes(col) && ! lines[i-1].includes(col)) ) {
                            let y = this.matrixViz.props.y[i]
                            let x = col
                            this.matrixViz['tile_texts'][`${y}-${x}`] = {'text': 'X', 'color': '#fafafa'}
                            res += 1
                       }
                   }
               }
               return res
            },
            filledLines: function() {
                return this.matrixViz.props.y.map( (e) => {
                    let res = []
                    for ( let col of this.matrixViz.props.x ) {
                        if ( this.matrixViz['tile_colors'][`${e}-${col}`] || this.matrixViz.props.r[e].includes(col) ) {
                            res.push(col)
                        }
                    }
                    return res
                })
            },
        },

        methods: {
            setInst(i) {
                this.matrixViz.x_width = {}
                this.matrixViz.y_height = {}
                this.getInstances()[i].props.x.forEach( (e) => {return this.matrixViz.x_width[e]=this.tilesize})
                this.getInstances()[i].props.y.forEach( (e) => {return this.matrixViz.y_height[e]=this.tilesize})
                this.matrixViz.tile_colors = {}
                this.matrixViz.props = this.getInstances()[i].props
                this.size = this.getMinSize()
                this.currentInst = i
            },
            onMenuClick(i) {
                this.setInst(i)
            },
            onMatrixUpdate(newValue) { // updates instance
                this.matrixViz = JSON.parse(newValue)
            },
            onClick(ev) {
                let y = ev.y.toString()
                let x = ev.x.toString()
                let r = this.matrixViz.props.r
                if (!r[y].includes(x)) { // if white tile
                    if ( this.matrixViz['tile_colors'][`${y}-${x}`] ) { // if blue
                        Vue.delete(this.matrixViz['tile_colors'], `${y}-${x}`)
                    } else { // if not blue
                        // check if sum(line) <= k
                        if ( this.getSizeLine(y) < this.size ) {
                            Vue.set(this.matrixViz['tile_colors'], `${y}-${x}`, keepColor)
                        } else {
                            this.snackbar = true
                        }
                    }
                }
            },
            getInstances() {
                return instances.instances.map((e,i) => {
                    e.id = i
                    return e
                })
            },
            whenNeededNext(step, col) {
                let y = this.filledLines
                for ( let i = step+1 ; i < y.length ; i++ ) {
                    if ( y[i].includes(col) ) {
                        return i-step
                    }
                }
                return y.length-step
            },
            useKtns() {
                Vue.set(this.matrixViz, 'tile_colors', {})
                let lines = this.filledLines
                let previouslyChosen = this.matrixViz.props.x
                let y = this.matrixViz.props.y
                for ( let i = 0 ; i < y.length ; i++ ) {
                    let tmp = previouslyChosen.filter( (e) => {
                        return !lines[i].includes(e)
                    })
                    let nbToolsKeep = this.size-lines[i].length
                    tmp.sort( (a,b) => {
                        return this.whenNeededNext(i,a)-this.whenNeededNext(i,b)
                    })
                    // add to previouslyChoosen new choosen
                    previouslyChosen = []
                    for ( let i = 0 ; i < nbToolsKeep ; i++ ) {
                        previouslyChosen.push(tmp[i])
                    }
                    for ( let e of previouslyChosen ) {
                        Vue.set(this.matrixViz['tile_colors'], `${y[i]}-${e}`, keepColor)
                    }
                    // now, add lines[i]
                    for ( let e of lines[i] ) {
                        previouslyChosen.push(e)
                    } 
                }
            },
            getSizeLine(line) {
                let res = this.matrixViz.props.r[line].length
                for ( let col of this.matrixViz.props.x ) {
                    if ( this.matrixViz['tile_colors'][`${line}-${col}`] ) {
                        res += 1
                    }
                }
                return res
            },  
            getMinSize() {
                let m = 0
                for ( let e of this.matrixViz.props.y ) {
                    m = Math.max(m, this.matrixViz.props.r[e].length)
                }
                return m
            }
        }
    }
</script>
<style lang="scss">
  #instanceArea {
    font-family: 'Courier New', Courier, monospace;
    height: 200px;
    width: 750px;
  }
  .active {
    background-color: #ddd;
  }
</style>
